streamlit
streamlit_option_menu
datetime
numpy
pandas
matplotlib
plotly
imblearn
seaborn
tabulate
Selenium==4.20.0
bs4==0.0.1
nltk
sastrawi
wordcloud
tensorflow==2.12.0
transformers==4.41.2
joblib==1.2.0
scikit-learn==1.2.2